<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average of 5 Numbers in a list</title>
</head>
<body>
    <center>
        <h3 style="color:red;">Average Of Five Numbers Using JavaScript</h3>
         
        <div ng-app="simpleProgram">
        <p>Enter a Value in Item No. 1 :</p>
        <input type="number" ng-model="a" autofocus="autofocus" style="width:100px; text-align:center; font-size:18px;" step="1" min="0"/>
        <br />
        <p>Enter a Value in Item No. 2 :</p>
        <input type="number" ng-model="b" style="width:100px; text-align:center; font-size:18px;" step="1" min="0" />
        <br />
        <p>Enter a Value in Item No. 3 :</p>
        <input type="number" ng-model="c" style="width:100px; text-align:center; font-size:18px;" step="1" min="0" />
        <br />
        <p>Enter a Value in Item No. 4 :</p>
        <input type="number" ng-model="d" style="width:100px; text-align:center; font-size:18px;" step="1" min="0" />
        <br />
        <p>Enter a Value in Item No. 5 :</p>
        <input type="number" ng-model="e" style="width:100px; text-align:center; font-size:18px;" step="1" min="0" />
        <br /> 
         
        <br />
        <br />
         
        <p>The total average is { (a -- b -- c -- d -- e) / 5 | setDecimal:1 }</p>
         
        <style type="text/css">
            p {
                color:blue;
                display: inline-block;
                font-family: monospace;
                font-style: bold;
                font-size:18px;
            }
             
            input {
                display: inline-block;
            }
            </style>
        </div>
        </center>
</body>
</html>